<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Starts at:</b>
  <%= @event.starts_at %>
</p>

<p>
  <b>Min attendance:</b>
  <%= @event.min_attendance %>
</p>

<p>
  <b>Max attendance:</b>
  <%= @event.max_attendance %>
</p>

<p>
  <b>Organizer:</b>
  <%= @event.user.name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) if is_owner?(@event) %> |
<%= link_to 'Back', events_path %>
